.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(222, 246, 255, 0.039) 0%, rgba(1, 42, 249, 0.09) 100%);
  padding-top: 144px;
}

/* headings */
.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 52px;
}

.h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;

  .txt {
    height: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0d0d0d;
  }
}

.h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 56px;

  .txt {
    height: 56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0d0d0d;
  }
}

.addReview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;
  width: 480px;
  background: #f8faff;
  box-shadow: 0 4px 14px rgba(1, 42, 249, 0.1);
  border-radius: 28px;
}

.infoInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.reviewInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.inputReview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.documentSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 272px;
  height: 276px;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 272px;
  height: 111px;
}

.fileInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 272px;
  height: 82px;
}

.btns {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 272px;
  height: 40px;
  background: #f9fafb;
  border: 2px solid #012af9;
  border-radius: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
}

.btnTxt {
  width: 144px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #012af9;
}

.fileInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #8c8c8c;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  height: 149px;
  border-radius: 10px;
}

.h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #012af9;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 272px;
  height: 101px;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
  width: 272px;
  height: 17px;
}

.iconCheck {
  width: 16px;
  height: 16px;
  flex: none;
}

.listText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
  color: #4d4d4d;
}
