.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 26px;
  background: var(--card-bg);
  box-shadow: var(--card-shadow);
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 100%;
}

.active {
  background: var(--primary);
  color: var(--color-white);
  box-shadow: 0 42px 34px 0 rgba(82, 67, 194, 0.3);

  button {
    background: var(--color-white);
    color: var(--primary);
    border-radius: 100px;

    &:hover {
      background: var(--primary-dark);
      color: var(--color-white);
    }
  }
}

.popular {
  padding-top: 60px;

  button {
    border: none;
    border-radius: 100px;
  }
}

.badge {
  position: absolute;
  top: 12px;
  right: -50px;
  transform: translateX(-50%);
  background: var(--color-white);
  color: var(--primary);
  font-size: 14px;
  font-weight: 400;
  padding: 6px 16px;
  border-radius: 15px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: inherit;
}

.priceRow {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
  justify-content: space-between;
  gap: 20px;
  @media (min-width: 1440px) {
    flex-direction: column;
  }
}

.priceContent {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.price {
  font-size: 32px;
  font-weight: 700;
}

.period {
  font-size: 14px;
  opacity: 0.7;
}

.note {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
}

.featureItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  flex: 1 1 calc((100% - 10px)/2);
}

.featureIcon {
  flex-shrink: 0;
}
