.hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 20px;
  }
}

.statsRow {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.statItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.statNumber {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary);
  text-align: center;
  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 43px;
  }
}

.statText {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-secondary);
  text-align: center;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 19px;
  }
}
