.notFoundPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--input-bg);
  color: var(--text-primary);
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 184px 0 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.code {
  font-size: 100px;
  line-height: 138px;
  font-weight: 700;
  font-family: Awesome Serif Italic, serif;
  font-style: italic;
  display: inline-block;
  margin-bottom: -10px;
  color: var(--primary);
  @media (min-width: 768px) {
    font-size: 200px;
    margin-bottom: 10px;
  }
}

.title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--primary);
  text-align: center;
  font-style: italic;
  display: inline-block;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 44px;
  }
}

.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 80px;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.button {
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  @media (min-width: 768px) {
    margin-top: 20px;
  }
}