.bot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 244px;
  @media (min-width: 768px) {
    padding-bottom: 216px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
