.bot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 244px;
  @media (min-width: 768px) {
    padding-bottom: 216px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  margin-bottom: 60px;
}

.card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 24px;
  background: var(--primary);
  box-shadow: var(--card-shadow);
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.listIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 5px;
}

.listText {
  font-family: var(--font-base);
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
}

.qrWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.qr {
  display: block;
  width: 100%;
}

.handle {
  font-family: var(--font-base);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}
