.functions {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-bottom: 244px;
  @media (min-width: 768px) {
    padding-bottom: 196px;
  }
  @media (min-width: 1440px) {
    padding-bottom: 234px;
  }
}

.functions::before,
.functions::after {
  content: none;
}

@media (min-width: 768px) {
  .functions::before,
  .functions::after {
    content: "";
    position: absolute;
    background: var(--primary);
    pointer-events: none;
    z-index: 0;
  }

  .functions::before {
    width: 200px;
    height: 200px;
    left: calc(50% - 200px / 2 + -750px);
    top: 0;
    opacity: 0.4;
    filter: blur(50px);
  }

  .functions::after {
    width: 200px;
    height: 200px;
    left: calc(50% - 200px / 2 + 700px);
    top: 550px;
    opacity: 0.3;
    filter: blur(50px);
  }
}

.functions > * {
  position: relative;
  z-index: 1;
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.TabsContainer {
  width: 100%;
}

.FunctionsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  justify-content: center;
  @media (min-width: 768px) {
    gap: 60px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.FunctionsItem {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
  background: var(--bg-secondary);
  border-radius: 22px;
  box-sizing: border-box;
  padding: 16px;
  @media (min-width: 768px) {
    flex: 1 1 calc((100% - 60px)/2);
  }
}

.FunctionsIcon {
  width: 56px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.FunctionsItem > .text {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}

.FunctionsItem > .text h1,
.FunctionsItem > .text h2 {
  width: 100%;
  margin: 0;
}