.securityCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  background: #ffffff;
  border: 1px solid rgba(1, 42, 249, 0.1);
  box-shadow: 0 2px 12px rgba(1, 42, 249, 0.05);
  border-radius: 22px;
}

.sectionTitle {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #0d0d0d;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.accountCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;
  background: #ffffff;
  border: 1px solid rgba(1, 42, 249, 0.1);
  box-shadow: 0px 2px 12px rgba(1, 42, 249, 0.05);
  border-radius: 22px;
}

.accountContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.deleteSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.deleteTitle {
  font-size: 18px;
  line-height: 21px;
  color: #0d0d0d;
}

.deleteHint {
  font-size: 16px;
  line-height: 19px;
  color: #717182;
}

@media (min-width: 768px) {
  .fieldGroup {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .accountContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
}


