.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--page-gradient);
  color: var(--text-primary);
  padding: 160px 20px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1200px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--text-primary);
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--text-primary);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {

  .page {
    padding: 160px 20px 0;
  }

}