.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(222, 246, 255, 0.039) 0%, rgba(1, 42, 249, 0.09) 100%);
  color: #0d0d0d;
  padding: 160px 20px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #0d0d0d;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #0d0d0d;
}

/* Action buttons */
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {

  .page {
    padding: 160px 20px 0;
  }

}


@media (min-width: 1440px) {

  .container {
    max-width: 1635px;
  }

}