.steps {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
  padding-bottom: 254px;
  @media (min-width: 768px) {
    padding-bottom: 244px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  width: 100%;
}

.stepImage {
  border-radius: 20px;
  margin-top: 28px;
}

.stepImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}