.steps {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
  padding-bottom: 254px;
  @media (min-width: 768px) {
    padding-bottom: 244px;
  }
}

@media (min-width: 1440px) {
  .steps[data-active-step="1"] .step[data-step="2"],
  .steps[data-active-step="1"] .step[data-step="3"],
  .steps[data-active-step="2"] .step[data-step="1"],
  .steps[data-active-step="2"] .step[data-step="3"],
  .steps[data-active-step="3"] .step[data-step="1"],
  .steps[data-active-step="3"] .step[data-step="2"] {
    display: none;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  width: 100%;
}

.stepImage {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 28px;
  max-width: 728px;
  max-height: 290px;
  box-shadow: 0 2px 12px 0 #012AF940;
}

.stepImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}