/* Base input styles reused by pages */

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 16px;
  line-height: 19px;
  color: #0d0d0d;
}

.input {
  width: 100%;
  height: 44px;
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #012AF91A;
  background: #F8FAFF;
  box-shadow: 0 2px 12px 0 #012AF90D;
  font-size: 14px;
  line-height: 17px;
  color: #8c8c8c;
  outline: none;
  font-weight: 400;
}

.input:focus {
  border-color: #012af9;
}

