.textareaBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d0d0d;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 16px;
  background: #f8faff;
  border: 1px solid rgba(1, 42, 249, 0.1);
  box-shadow: 0px 2px 12px rgba(1, 42, 249, 0.05);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0d0d0d;
  resize: none;
  overflow: hidden;
  font-family: var(--font-base);
  
  &::placeholder {
    color: #8c8c8c;
  }

  &:focus {
    outline: none;
    border-color: #012af9;
  }
}

.textareaError {
  border-color: #ff4d4f;
}
