.BurgerMenu {
  position: fixed;
  top: 64px;
  left: max(20px, calc((100vw - 1675px) / 2 + 20px));
  right: max(20px, calc((100vw - 1675px) / 2 + 20px));
  max-width: 360px;
  margin-left: auto;
  background: var(--card-bg);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: none;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  z-index: 999;

  &.active {
    display: flex;
    gap: 12px;
  }

  &.loggedIn {
    gap: 0px;
    width: auto;
    max-width: 332px;
    padding: 16px 16px 8px;
  }
}


.themeLangContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navLink {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-base);
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.2s ease;
  height: 41px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.navLink:hover {
  color: var(--primary);
}

.menuTabs {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(113, 113, 130, 0.2);
  margin-bottom: 8px;

  & > a {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    transition: background .2s ease 0s;

    & > span {
      color: var(--text-secondary);
      font-family: var(--font-base);
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 100%;
    }

    & > svg {
      flex: 0 0 auto;
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: #012AF91A;
    }


    & > div {
      height: 25px;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: #4100CC80;
      flex: 0 0 auto;
      width: fit-content;
      padding: 0 8px;
      border: 1px solid #4100CC80;
      border-radius: 100px;
      margin-left: auto;
    }
  }
}