.landing {
  min-height: 100vh;
  background: var(--background);
  padding: 204px 20px 0 20px;
  @media (min-width: 768px) {
    padding: 244px 20px 0 20px;

  }
  max-width: 1200px;
  margin: 0 auto;
}

