.tariffs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 244px;
  @media (min-width: 768px) {
    padding-bottom: 196px;
    max-width: 729px;
  }
  @media (min-width: 1440px) {
    padding-bottom: 234px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  background: var(--color-white);
  border-radius: 26px;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    > :global(.popular) {
      flex: 0 0 100%;
      order: -1;
    }

    > *:not(:global(.popular)) {
      flex: 0 0 calc(50% - 60px);
    }
  }

  @media (min-width: 1440px) {
    flex-wrap: nowrap;
    gap: 24px;

    > :global(.popular) {
      flex: 1;
      order: 0;
    }

    > *:not(:global(.popular)) {
      flex: 1;
    }
  }
}
