.reviews {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 244px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1440px) {
    padding-bottom: 172px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

.swiperWrap {
  position: relative;
  width: 100%;
}

.swiper {
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  width: auto !important;
}

.slideBtns {
  display: flex;
  gap: 10px;
  position: absolute;
  top: -56px;
  right: 0;
  z-index: 10;
}

.btnPrev,
.btnNext {
  width: 40px;
  height: 40px;
  background: var(--background);
  border: 2px solid var(--primary);
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  padding: 0;
  
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 16px;
    left: calc(50% - 4px);
    top: calc(50% - 8px);
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    transform: rotate(-45deg);
  }
  
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.btnPrev {
  transform: rotate(180deg);
}
