.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 12px;
  background: rgba(1, 42, 249, 0.05);
  border-radius: 50px;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
  flex: 1;
  min-height: 38px;
  padding: 5px 15px;
  background: rgba(236, 236, 240, 0.2);
  border-radius: 25px;
  border: none;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--font-base);
  color: var(--text-primary);
  cursor: pointer;
  transition: background 0.2s ease;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.iconWrapper {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.tab:hover {
  background: rgba(1, 42, 249, 0.08);
}

.tabActive {
  background: rgba(1, 42, 249, 0.08);
  color: var(--text-primary);
}
