.logoutButton {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  transition: background .2s ease 0s;
  background: transparent;
  border: none;
  cursor: pointer;

  & > span {
    color: var(--text-secondary);
    font-family: var(--font-base);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    transition: color .2s ease 0s;
  }

  & > svg {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    & > path {
      stroke: var(--text-secondary);
      transition: stroke .2s ease 0s;
    }
  }

  &:hover {
    background: var(--logout-hover-bg);
    & > svg {
      & > path {
        stroke: var(--logout-hover-color);
      }
    }
    & > span {
      color: var(--logout-hover-color);
    }
  }
}