.loginButton {
  min-width: 89px;
  padding: 8px 18px;
  border-radius: 100px;
  font-size: 18px;
  height: 41px;
}

.registerButton {
  min-width: 89px;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 18px;
  height: 41px;
}