.ToggleButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  position: relative;
  padding: 8px 5px ;

  @media (min-width: 1440px) {
    display: none;
  }
  & span {
    display: block;
    height: 3px;
    background: var(--text-primary);
    border-radius: 2px;
    width: 100%;
    transition: all 0.3s ease;
    transform-origin: top left;

    &:last-child {
      width: calc(100% - 10px);
      transform-origin: bottom left;
    }
  }

  &.active span {
    &:nth-child(1) {
      transform: rotate(37deg) scaleX(1.29) translateY(-1px)

    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-37deg) scaleX(1.92) translateY(1px);
    }
  }
}